input.vertical {
  -webkit-appearance: slider-vertical;
  writing-mode: bt-lr;
}
.centeredBox {
  width: 400px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.example-card{
  margin: 0 auto;
  width: 40%;
}
